* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Lato", sans-serif;
  color: black;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-image {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 60vw;
}
header ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading h1 {
  margin: 20px 0;
}
#email {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
}
.btn {
  background-color: yellow;
  margin: 10px 0;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  padding: 3px;
  border-radius: 5px;
}
.main-body {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
#features {
  margin: 20px 0;
}
.data {
  display: flex;
}
.icons {
  font-size: 50px;
  color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
}
.video-display {
  display: flex;
  justify-content: center;
}
#video {
  max-width: 500px;
  width: 100%;
}
#price {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.price-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 33%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
}
.price-heading {
  background-color: grey;
  color: black;
  padding: 10px 0;
  width: 100%;
  font-weight: 800;
  margin-bottom: 10px;
}
ol {
  margin: 10px 0;
}
ol li {
  padding: 5px 0;
}
footer {
  background-color: gray;
  margin-top: 20px;
  padding: 20px;
  font-weight: 500;
}
footer ul {
  display: flex;
  justify-content: flex-end;
}
footer li {
  margin: 0 5px;
}
footer p {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
@media (max-width: 425px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header ul li {
    padding: 5px 0;
  }
}
@media (max-width: 320px) {
  #price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .price-block {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
