* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Lato", sans-serif;
  color: black;
}
.main-wrapper {
  margin: 20px;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header-image {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 60vw;
}
ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading h1 {
  margin: 20px 0;
}
#email {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
}
.btn {
  background-color: yellow;
  margin: 10px 0;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  padding: 3px;
  border-radius: 5px;
}
.main-body {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
#features {
  margin: 20px 0;
}
.data {
  display: flex;
}
.icons {
  font-size: 50px;
  color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
}
.description {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 125px;
  width: 80vw;
}
.video-display {
  display: flex;
  justify-content: center;
}
#video {
  max-width: 500px;
  width: 100%;
}
